<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeName</key>
		<string>预警舆情</string>
		<key>sumOfNoRead</key>
		<string>0</string>
		<key>red</key>
		<dict>
			<key>title</key>
			<string>紧急</string>
			<key>subTitle</key>
			<string>紧急</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#fa6f6f</string>
			<key>r</key>
			<string>250</string>
			<key>g</key>
			<string>111</string>
			<key>b</key>
			<string>111</string>
		</dict>
		<key>green</key>
		<dict>
			<key>title</key>
			<string>一般</string>
			<key>subTitle</key>
			<string>一般</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#10c66e</string>
			<key>r</key>
			<string>16</string>
			<key>g</key>
			<string>198</string>
			<key>b</key>
			<string>110</string>
		</dict>
		<key>yellow</key>
		<dict>
			<key>title</key>
			<string>重要</string>
			<key>subTitle</key>
			<string>重要</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#e8d33e</string>
			<key>r</key>
			<string>232</string>
			<key>g</key>
			<string>211</string>
			<key>b</key>
			<string>63</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>情报交互</string>
		<key>isSelected</key>
		<true/>
		<key>sumOfNoRead</key>
		<string>0</string>
		<key>red</key>
		<dict>
			<key>title</key>
			<string>网安快报</string>
			<key>subTitle</key>
			<string>网安信息快报</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#fa6f6f</string>
			<key>r</key>
			<string>250</string>
			<key>g</key>
			<string>111</string>
			<key>b</key>
			<string>111</string>
		</dict>
		<key>green</key>
		<dict>
			<key>title</key>
			<string>外宣每日</string>
			<key>subTitle</key>
			<string>外宣每日</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#10c66e</string>
			<key>r</key>
			<string>16</string>
			<key>g</key>
			<string>198</string>
			<key>b</key>
			<string>110</string>
		</dict>
		<key>yellow</key>
		<dict>
			<key>title</key>
			<string>网安每日</string>
			<key>subTitle</key>
			<string>网安每日舆情</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#e8d33e</string>
			<key>r</key>
			<string>232</string>
			<key>g</key>
			<string>211</string>
			<key>b</key>
			<string>63</string>
		</dict>
	</dict>
	<dict>
		<key>typeName</key>
		<string>区县上报</string>
		<key>sumOfNoRead</key>
		<string>0</string>
		<key>red</key>
		<dict>
			<key>title</key>
			<string>海曙区</string>
			<key>subTitle</key>
			<string>海曙区</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#fa6f6f</string>
			<key>r</key>
			<string>250</string>
			<key>g</key>
			<string>111</string>
			<key>b</key>
			<string>111</string>
		</dict>
		<key>green</key>
		<dict>
			<key>title</key>
			<string>其他区县</string>
			<key>subTitle</key>
			<string>其他区县</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#10c66e</string>
			<key>r</key>
			<string>16</string>
			<key>g</key>
			<string>198</string>
			<key>b</key>
			<string>110</string>
		</dict>
		<key>yellow</key>
		<dict>
			<key>title</key>
			<string>江东区</string>
			<key>subTitle</key>
			<string>江东区</string>
			<key>percent</key>
			<string>0</string>
			<key>numberOfNoRead</key>
			<string>0</string>
			<key>colorHex</key>
			<string>#e8d33e</string>
			<key>r</key>
			<string>232</string>
			<key>g</key>
			<string>211</string>
			<key>b</key>
			<string>63</string>
		</dict>
	</dict>
</array>
</plist>
