<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainColor</key>
	<string>3488AE</string>
	<key>Menu_Cell_Selected_Color</key>
	<string>313131</string>
	<key>Menu_Cell_Normal_Color</key>
	<string>3C3C3C</string>
	<key>Tab</key>
	<string>导航栏</string>
	<key>logo</key>
	<string>icon_logo.png</string>
	<key>icon_write</key>
	<string>icon_write.png</string>
	<key>icon_new</key>
	<string>icon_new.png</string>
	<key>icon_favourite</key>
	<string>icon_favourite.png</string>
	<key>icon_nofavourite</key>
	<string>icon_nofavourite.png</string>
	<key>icon_add</key>
	<string>icon_add.png</string>
	<key>tab_icon_ok</key>
	<string>tab_icon_ok.png</string>
	<key>tab_icon_list_red</key>
	<string>tab_icon_list_red.png</string>
	<key>tab_icon_list</key>
	<string>tab_icon_list.png</string>
	<key>tab_icon_more</key>
	<string>tab_icon_more.png</string>
	<key>tab_icon_back</key>
	<string>tab_icon_back.png</string>
	<key>tab_icon_refresh</key>
	<string>tab_icon_refresh.png</string>
	<key>icon_share</key>
	<string>icon_share.png</string>
	<key>icon_lock</key>
	<string>icon_lock.png</string>
	<key>icon_group_add</key>
	<string>icon_group_add.pdf</string>
	<key>icon_search</key>
	<string>icon_search.png</string>
	<key>icon_unlock</key>
	<string>icon_unlock.png</string>
	<key>icon_upload</key>
	<string>icon_upload.png</string>
	<key>icon_checkbox_pressed</key>
	<string>icon_checkbox_pressed.png</string>
	<key>icon_checkbox_normal</key>
	<string>icon_checkbox_normal.png</string>
	<key>icon_selected</key>
	<string>icon_selected.png</string>
	<key>icon_favourite2</key>
	<string>icon_favourite2.png</string>
	<key>icon_nofavourite2</key>
	<string>icon_nofavourite2.png</string>
	<key>icon_favorite_alerts</key>
	<string>icon_favorite_alerts.png</string>
	<key>icon_favorite_recommend</key>
	<string>icon_favorite_recommend.png</string>
	<key>icon_circle_yellow</key>
	<string>icon_circle_yellow.png</string>
	<key>icon_circle_red</key>
	<string>icon_circle_red.png</string>
	<key>icon_circle_blue</key>
	<string>icon_circle_blue.png</string>
	<key>icon_list_red</key>
	<string>icon_list_red.png</string>
	<key>icon_list_blue</key>
	<string>icon_list_blue.png</string>
	<key>icon_list_yellow</key>
	<string>icon_list_yellow.png</string>
	<key>icon_list_green</key>
	<string>icon_list_green.png</string>
	<key>icon_wangan</key>
	<string>icon_wangan.png</string>
	<key>icon_delete</key>
	<string>icon_delete.png</string>
	<key>icon_image_add</key>
	<string>icon_image_add.png</string>
	<key>icon_group</key>
	<string>icon_group.png</string>
	<key>read_icon_default</key>
	<string>read_icon_default.png</string>
	<key>picture-min</key>
	<string>picture-min.png</string>
	<key>menu_title</key>
	<string>菜单</string>
	<key>menu_icon_user</key>
	<string>menu_user.pdf</string>
	<key>menu_icon_key</key>
	<string>menu_icon_key.pdf</string>
	<key>menu_icon_red_point</key>
	<string>menu_icon_red_point.png</string>
	<key>menu_cell_selected_img</key>
	<string>menu_cell_selected_img.png</string>
	<key>menu_icon_setting</key>
	<string>menu_icon_setting.pdf</string>
	<key>logo_cyyun</key>
	<string>cyyun.png</string>
	<key>icon_message</key>
	<string>icon_message.png</string>
	<key>icon_telephone</key>
	<string>icon_telephone.png</string>
	<key>icon_check_normal</key>
	<string>icon_check_normal.pdf</string>
	<key>icon_check_selected</key>
	<string>icon_check_selected.pdf</string>
	<key>login_keep_pressed</key>
	<string>login_keep_pressed.pdf</string>
	<key>login_keep_normal</key>
	<string>login_keep_normal.pdf</string>
	<key>unread</key>
	<string>unread.png</string>
	<key>arr_down</key>
	<string>arr_down.png</string>
	<key>arr_up</key>
	<string>arr_up.png</string>
	<key>ico_tipnew</key>
	<string>ico_tipnew.png</string>
	<key>ico_next</key>
	<string>ico_next.png</string>
	<key>icon_group_down</key>
	<string>icon_group_down.png</string>
	<key>icon_group_up</key>
	<string>icon_group_up.png</string>
	<key>icon_intellig_down</key>
	<string>icon_intellig_down.png</string>
	<key>bg_fj_active</key>
	<string>bg_fj_active.png</string>
	<key>bg_fj_normal</key>
	<string>bg_fj_normal.png</string>
	<key>icon_lock_on</key>
	<string>icon_lock_on.pdf</string>
	<key>icon_lock_normal</key>
	<string>icon_lock_nomal.pdf</string>
	<key>read</key>
	<string>read.png</string>
	<key>Msg_Title</key>
	<string>情报交互</string>
	<key>ToMe</key>
	<string>已收</string>
	<key>SenderTo</key>
	<string>已发</string>
	<key>RelativeMe</key>
	<string>与我相关</string>
	<key>Sender</key>
	<string>发送人:</string>
	<key>Recriver</key>
	<string>收信人:</string>
	<key>Reply</key>
	<string>回复</string>
	<key>Relative</key>
	<string>相关</string>
	<key>Loading</key>
	<string>正在加载内容，请稍后...</string>
	<key>IntelligenceDaily</key>
	<string>网安每日舆情</string>
	<key>IntelligenceInternational</key>
	<string>外宣每日舆情</string>
	<key>IntelligenceAllIntelligence</key>
	<string>情报交互信息</string>
	<key>IntelligenceInstant</key>
	<string>网安信息快报</string>
	<key>Body</key>
	<string>正文</string>
	<key>ImageTip_Left</key>
	<string>点击查看（共</string>
	<key>ImageTip_Right</key>
	<string>张）</string>
	<key>MarkToRead</key>
	<string>全部标记已读</string>
	<key>RefreshAllData</key>
	<string>刷新全部数据</string>
	<key>DeptName</key>
	<string>宁波市公安局网安支队</string>
	<key>Cancle</key>
	<string>取消</string>
	<key>WarnAlert</key>
	<string>预警发布</string>
	<key>WarnTitle</key>
	<string>标题:</string>
	<key>WarnType</key>
	<string>情报类型:</string>
	<key>WarnLevel</key>
	<string>等级:</string>
	<key>WarnContent</key>
	<string>内容:</string>
	<key>WarnImage</key>
	<string>图片:</string>
	<key>GroupTitle</key>
	<string>自定义组</string>
	<key>SelectPersion</key>
	<string>选择联系人</string>
	<key>NoPerson</key>
	<string>暂无联系人</string>
	<key>NoGroup</key>
	<string>暂无分组</string>
	<key>AllGruop</key>
	<string>所有</string>
	<key>FastGroup</key>
	<string>常用</string>
	<key>CustomGroup</key>
	<string>自定义组</string>
	<key>GroupManner</key>
	<string>分组管理</string>
	<key>AddGroup</key>
	<string>新增分组</string>
	<key>InternetTitle</key>
	<string>信息上报</string>
	<key>InsideInternet</key>
	<string>区县上报</string>
	<key>OutsideInternet</key>
	<string>外部上报</string>
	<key>AllArea</key>
	<string>所有地区</string>
	<key>AllDept</key>
	<string>所有单位</string>
	<key>WarnAlertTitle</key>
	<string>舆情预警</string>
	<key>FitterContent</key>
	<string>内容筛选</string>
	<key>FitterResults_Left</key>
	<string>筛选结果 (</string>
	<key>FitterResults_Right</key>
	<string>)</string>
	<key>Urgent</key>
	<string>紧急</string>
	<key>Import</key>
	<string>重要</string>
	<key>Normal</key>
	<string>一般</string>
	<key>WarnLevelTip</key>
	<string>  预警等级</string>
	<key>ReadTitle</key>
	<string>推荐阅读</string>
	<key>WarnSearch</key>
	<string>舆情搜索</string>
	<key>WarnAlertSearch</key>
	<string>舆情预警搜索</string>
	<key>ReadSearch</key>
	<string>推荐阅读搜索</string>
	<key>SearchTypeArea</key>
	<string>    区域分类</string>
	<key>SearchTypeHistory</key>
	<string>    搜索历史</string>
	<key>SearchResult_Left</key>
	<string>搜索结果 (</string>
	<key>SearchResult_Right</key>
	<string>)</string>
	<key>Favourites</key>
	<string>收藏夹</string>
	<key>InformationTitle</key>
	<string>信息审核</string>
	<key>NoInformation</key>
	<string>待审核</string>
	<key>HasInformation</key>
	<string>已审核</string>
	<key>setting_title</key>
	<string>设置</string>
	<key>user_option</key>
	<string>用户选项</string>
	<key>data_option</key>
	<string>数据选项</string>
	<key>system_option</key>
	<string>系统选项</string>
	<key>user_name</key>
	<string>帐号</string>
	<key>auto_Login</key>
	<string>自动登录</string>
	<key>modefy_password</key>
	<string>密码修改</string>
	<key>notify_option</key>
	<string>通知选项</string>
	<key>receive_image</key>
	<string>2G/3G下自动接收图片</string>
	<key>device_lock</key>
	<string>设备锁</string>
	<key>version_check</key>
	<string>新版本检测</string>
	<key>upload_log</key>
	<string>上传日志</string>
	<key>help_us</key>
	<string>帮助</string>
	<key>about_us</key>
	<string>关于我们</string>
	<key>mobileToken</key>
	<string>身份验证</string>
</dict>
</plist>
